@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <div class="row">
        <div class="col-6">
            <img src="~/Images/TheCluelessCook.png" alt="..." class="img-thumbnail bg-dark border-0 mx-auto d-block">
            <h4 class="text-center display-4">The Clueless Cook</h4>
            <p class="text-center h4">Meal ideas for the upcoming Master Chefs!</p>
        </div>
        <div class="col-6">
            <h3 class="text-success text-center">Get Started</h3>
            <div class="pb-4"></div>
            <ul class="list-unstyled offset-1">
                <li class="h4 pb-3">
                    <i class="fas fa-user-plus fa-fw text-success"></i>
                    &nbsp; Click <a asp-area="Identity" asp-page="/Account/Register">here</a> to register as a Cook.
                </li>
                <li class="h4 pb-3">
                    <i class="far fa-window-restore fa-fw text-success"></i>
                    &nbsp; Browse our collection of Recipes.
                </li>
                <li class="h4 pb-3">
                    <i class="fas fa-calendar-alt fa-fw text-success"></i>
                    &nbsp; Drag and drop into the weekly planner.
                </li>
                <li class="h4 pb-3">
                    <i class="fas fa-shopping-basket fa-fw text-success"></i>
                    &nbsp; Enter in ingridients you already have.
                </li>
                <li class="h4 pb-3">
                    <i class="fas fa-list fa-fw text-success"></i>
                    &nbsp; Compute your shopping list.
                </li>
                <li class="h4 pb-3">
                    <i class="fas fa-atom fa-fw text-success"></i>
                    &nbsp;Head to the kitchen!
                </li>
                <li class="h4 pb-3">
                    <i class="fas fa-medal fa-fw text-success"></i>
                    &nbsp;Graduate as a Chef.
                </li>
            </ul>
        </div>
    </div>
</div>
