@model TheCluelessCook.Models.Recipes.RecipeIndexModel

<h1 class="text-center">Recipe Cards</h1>

@foreach (var recipe in Model.Recipes)
{
    <div class="card shadow-lg" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@recipe.Name</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
}