
@{
    ViewData["Title"] = "MealPlanner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TheCluelessCook.Models.Planner.MealPlannerIndexModel
<style>
    .placeholder {
        background-color: #00bc8c;
    }

    .sortable {
        min-height: 10px;
    }

    /*.draggable {
        position: relative;
        width: 50px;
        height: 48px;
    }*/
</style>
<script>
    var adjustment;

    $(function () {
        $(".sortable").sortable({
            revert: true,
            placeholder: 'placeholder',
            connectWith: '.sortable',
            start: function (event, ui){
                $(ui.item).addClass('border-success');
            },
            // set $item relative to cursor position
            onDragStart: function ($item, container, _super) {
                var offset = $item.offset(),
                    pointer = container.rootGroup.pointer;

                adjustment = {
                    left: pointer.left - offset.left,
                    top: pointer.top - offset.top
                };

                _super($item, container);
            },
            onDrag: function ($item, position) {
                $item.css({
                    left: position.left - adjustment.left,
                    top: position.top - adjustment.top
                });
            },
            stop: function (e, ui) {
                $(ui.item).removeAttr('style');
            }
        });

        $(".draggable").draggable({
            connectToSortable: ".sortable",
            helper: "clone",
            revert: "invalid",
            //containment: ".sortable"
            //drop: function (e, ui) {
            //    $(ui.item).removeAttr("style");
            //}
        });

        // Disable the ability to highlight text in the divs
        $("ul, li").disableSelection();
    });
</script>
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Breakfast</h3>
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header bg-success" id="headingOne">
                            <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h5 class="mb-0">Simple</h5>
                            </button>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <ul class="list-group">
                                <li class="list-group-item draggable">
                                    Cras justo odio
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center" id="draggable">
                                    Dapibus ac facilisis in
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center" id="draggable">
                                    Morbi leo risus
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-success" id="headingTwo">
                            <button class="btn  collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <h5 class="mb-0">Interesting</h5>
                            </button>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-success" id="headingThree">
                            <button class="btn" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <h5 class="mb-0">Speciality</h5>
                            </button>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-success" id="headingFour">
                            <button class="btn" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <h5 class="mb-0">Cold</h5>
                            </button>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-success" id="headingFive">
                            <button class="btn" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <h5 class="mb-0">Eggs</h5>
                            </button>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Lunch</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Soups</li>
                    <li class="list-group-item">Salads</li>
                    <li class="list-group-item">Sandwiches</li>
                    <li class="list-group-item">Interesting</li>
                    <li class="list-group-item">Speciality</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <partial name="~/Views/MealPlanner/_PlanPartial.cshtml" model="Model">
    </div>
</div>

